mat-toolbar {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  top: 0;
  position: sticky;

  > .help-button {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  > .title {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
  }
}

:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  > .main-content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;

    > .fractal-display {
      flex: 1;
      margin-top: 10px;
      display: flex;
      padding: 0;
      overflow: hidden;
    }
  }
}
