mat-toolbar {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  top: 0;
  position: sticky;

  > .logo-container {
    display: flex;
    align-items: center;
    margin-left: 5px;

    > .fractal-logo {
      width: 45px;
      height: 45px;
    }
  }

  > .help-button {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  > .title {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
  }
}

:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  > .main-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10px;

    > app-fractal-settings {
      flex: 2;
      display: flex;
      margin: 10px;
    }

    > .fractal-display {
      flex: 5;
      min-height: 84vh;
      margin: 10px;
      padding: 10px;
      display: flex;
    }
  }
}
