<mat-card>
  <mat-toolbar>
    About
  </mat-toolbar>

  <div class="main-content">
    <div class="section">
      <div class="section-header">Fractal Viewer © John Lowther 2018</div>
      <div class="section-content">
        This is a work in progess and many parts of the application may be rough or unfinished.
        Note that zooming in to a high value will eventually result in pixellation as it approaches the maximum precision at which the code can currently work.
        Any issues or questions you can contact <a href="mailto:quantumwss@hotmail.com?Subject=MTG%20Card%20Organizer%20Inquiry" target="_top">quantumwss@hotmail.com</a>.
      </div>
    </div>
  </div>

  <div class="actions" fxLayoutAlign="center center">
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</mat-card>

