mat-card {
  padding: 0px;
  min-width: 200px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  padding: 20px;
}

.actions {
  padding: 10px;
}

.section {
  margin-top: 10px;

  > .section-header {
    font-weight: bold;
  }

  > .section-content {
    color: gray;
  }
}

