<mat-toolbar>Fractal List</mat-toolbar>

<mat-action-list>
  <button
    *ngFor="let item of orderedItems"
    mat-list-item
    (click)="load(item)"
  >
    <img
      mat-list-icon
      src="assets/fractal-icon.png"
    />

    <span mat-line>
      <span>{{ item.name }}</span>
    </span>

    <button mat-icon-button (click)="deleteItem(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </button>
</mat-action-list>

<mat-toolbar class="action-buttons">
  <button mat-dialog-close mat-raised-button color="primary">
    Done
  </button>
</mat-toolbar>
