:host {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-height: 60vh;
}

mat-action-list {
  overflow-y: auto;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}
