<mat-card>
  <div class="info">
    <img
      class="icon"
      [src]="fractalSettingsService.settings.params.type | fractalIcon"
    />

    <div class="type"><b>{{ fractalSettingsService.settings.params.type }}</b></div>

    <div><b>Center:</b></div>
    <div class="value">
      <div>{{ fractalSettingsService.settings.center.x }}</div>
      <div>{{ fractalSettingsService.settings.center.y }}</div>
    </div>

    <div><b>Zoom:</b></div>
    <div class="value">
      <div>{{ fractalSettingsService.settings.zoom }}</div>
      <div *ngIf="fractalSettingsService.settings.zoom >= 10000000000000">Approaching max precision</div>
    </div>

    <div *ngIf="fractalSettingsService.settings.zoom === 1"><b>Click to Zoom</b></div>
  </div>

  <div>
    <button mat-button title="Reset Zoom" (click)="fractalSettingsService.resetZoom()">
      <mat-icon>youtube_searched_for</mat-icon>
    </button>

    <button mat-button title="Settings" (click)="settings()">
      <mat-icon>settings</mat-icon>
    </button>
    
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="fractalSettingsService.resetAll()">
        <mat-icon>replay</mat-icon>
        <span>Reset Settings</span>
      </button>

      <button mat-menu-item (click)="fractalUrlService.copyToClipboard()">
        <mat-icon>file_copy</mat-icon>
        <span>Copy as Url</span>
      </button>

      <button mat-menu-item (click)="save()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
      </button>

      <button mat-menu-item (click)="list()">
        <mat-icon>list</mat-icon>
        <span>List</span>
      </button>
      
      <button mat-menu-item (click)="download()" [disabled]="downloading">
        <mat-icon *ngIf="!downloading">download</mat-icon>
        <mat-spinner *ngIf="downloading" strokeWidth="3" diameter="20"></mat-spinner>
        <span>{{ downloading ? 'Downloading...' : 'Download' }}</span>
      </button>
    </mat-menu>
  </div>
</mat-card>
