:host {
  display: flex;
  flex-direction: column;
}

mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .icon {
    height: 45px;
    margin: -20px 20px -20px 0;
  }
}

.type {
  font-size: 25px;
  margin-right: 50px;
}

.value {
  margin-left: 10px;
  margin-right: 50px;
}
