:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttons {
  padding: 10px;
  flex: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

  > button {
    min-width: 140px;
    flex: 1 0 34%;
    margin: 5px;
  }
}

.downloading-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > mat-spinner {
    margin-left: 4px;
  }
}

mat-card > form {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 34%;
    margin: 0px 10px;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
